<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <%%- meta %>
    <%%- title %>
    <%%- link %>
  </head>
  <body>
    <div id="root">
      <%%- content %>
    </div>
    <script>
      window.__INITIAL_STATE__ = <%%- initialState%>
    </script>
  </body>
</html>
